.compare.section
  .container
    .compare__wrap
      svg.svg-elem(width='84' height='50' viewBox='0 0 84 50' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M23.4347 47.5671C15.9349 47.748 8.27076 47.3861 1.09978 49.9523C0.672352 50.1036 0.202192 49.8832 0.0476608 49.4555C-0.103584 49.0278 0.116711 48.5574 0.544142 48.4027C7.8828 45.7774 15.7212 46.1063 23.3953 45.9221C23.849 45.9089 24.2271 46.2708 24.237 46.7249C24.2501 47.1789 23.8885 47.5539 23.4347 47.5671Z' fill='#005891')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M24.1087 36.6717C21.771 34.5194 19.2196 32.907 16.1355 32.1079C15.6949 31.9941 15.4319 31.545 15.5437 31.1054C15.6588 30.6659 16.1092 30.4017 16.5465 30.5156C19.9002 31.3841 22.6785 33.1219 25.22 35.4607C25.5554 35.768 25.5784 36.2888 25.2694 36.623C24.9636 36.957 24.4408 36.979 24.1087 36.6717Z' fill='#005891')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M30.6121 13.1738C29.5403 9.49731 27.4294 6.62123 24.1941 4.54428C23.8127 4.29918 23.7009 3.7899 23.9475 3.40794C24.1908 3.02597 24.7004 2.91476 25.0818 3.15987C28.6624 5.45955 31.0034 8.64225 32.1903 12.7129C32.3186 13.1485 32.0654 13.6058 31.6314 13.7328C31.1941 13.8601 30.7371 13.6094 30.6121 13.1738Z' fill='#005891')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M67.5522 8.18429C68.19 8.93539 68.7621 9.74472 69.2487 10.6064C69.4657 10.99 69.8471 11.8052 69.9063 12.5043C69.9721 13.2492 69.7189 13.8776 69.0679 14.2085C68.2032 14.6474 67.5127 14.6017 66.9801 14.3362C66.4671 14.0812 66.066 13.5802 65.8129 12.9083C65.3295 11.6243 65.4019 9.66182 65.6551 8.54192C64.9745 7.83918 64.2281 7.20191 63.4291 6.63537C57.478 2.416 48.7485 3.97183 42.0312 10.2807C39.6804 12.4895 38.5493 17.1284 37.9608 22.1334C37.0434 29.9263 37.5662 38.6302 37.6386 41.1803C37.655 41.81 37.5958 42.1837 37.5629 42.2584C37.4084 42.6256 37.1355 42.721 36.9448 42.7572C36.6686 42.8065 36.4484 42.7539 36.2708 42.6618C36.0308 42.5354 35.8335 42.313 35.7414 41.9699C35.6921 41.7804 35.679 41.5165 35.6856 41.2352C35.6921 41.0401 35.7316 40.8269 35.6921 40.6871C35.4357 39.7916 35.1266 38.9171 34.8241 38.0364C33.8147 35.0758 32.5094 32.3013 31.0594 29.5302C26.453 20.725 21.9979 11.4213 14.4455 4.71272C14.1069 4.41169 14.074 3.89122 14.3764 3.5517C14.6757 3.21218 15.1952 3.18124 15.5371 3.4826C23.2407 10.3237 27.8175 19.7876 32.516 28.7673C33.749 31.1245 34.88 33.4851 35.8204 35.9542C35.725 31.5864 35.7612 25.5405 36.5602 20.191C37.2703 15.4334 38.6217 11.2288 40.9068 9.08146C48.2652 2.17024 57.8627 0.671014 64.3793 5.29341C65.0764 5.78822 65.7405 6.33238 66.3586 6.9226C69.7682 0.762155 77.0674 -1.70698 83.5184 1.23951C83.9327 1.42803 84.1135 1.91626 83.9261 2.32915C83.7354 2.74204 83.2488 2.92431 82.8345 2.7358C77.0214 0.0808001 70.4291 2.45022 67.5522 8.18429ZM67.0754 10.2468C67.3417 10.6231 67.5883 11.0133 67.8185 11.4167C67.9402 11.6332 68.1506 12.0493 68.2394 12.4566C68.2591 12.552 68.2624 12.7014 68.2624 12.7705C68.0355 12.8824 67.858 12.9363 67.7133 12.8636C67.5325 12.7741 67.4404 12.5636 67.3516 12.3283C67.128 11.7381 67.0557 10.9557 67.0754 10.2468Z' fill='#005891')

      h1.title.title--tac Покупать за границей 
        .title__element
          | выгодно  
          svg.title__element-line(width='316' height='7' viewBox='0 0 316 7' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 6C6.69386 5.70432 12.4317 5.7068 18.1707 5.59504C41.9475 5.13202 65.7642 4.72777 89.513 4.11484C130.844 3.04815 172.151 1.23867 213.619 1.02877C247.473 0.857412 281.23 1.47615 315 2.22969' stroke='#005891' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      .tab
        .compare__slider-tabs.tabs
          .swiper.compare-slider-desk-js
            .swiper-wrapper

              each tab,index in ['Аксессуары','Электроника','Обувь','Детские товары','Электроника','Косметика','Одежда']
                .swiper-slide
                  .compare__slider-tab
                    a(href="#") 
                      .compare__tab-icon
                        img(src="images/dist/tab"+(index+1)+".webp", alt="")

                      .compare__tab-name=tab


            .button-prev.nav-btn
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M11.1518 18.6533L11.5105 19.0016L12.2071 18.284L11.8483 17.9358L5.73306 11.9998H19.5H20V10.9998H19.5H5.73295L11.8483 5.06385L12.2071 4.7156L11.5106 3.99805L11.1518 4.3463L4.15178 11.141C4.05477 11.2351 4.00003 11.3646 4.00003 11.4997C4.00003 11.6349 4.05477 11.7644 4.15177 11.8585L11.1518 18.6533Z')
          
            .button-next.nav-btn
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M12.8483 5.34667L12.4895 4.99842L11.793 5.71596L12.1517 6.06422L18.267 12.0002L4.5 12.0002L4 12.0002L4 13.0002L4.5 13.0002L18.2671 13.0002L12.1517 18.9361L11.793 19.2844L12.4895 20.002L12.8483 19.6537L19.8483 12.859C19.9453 12.7649 20 12.6354 20 12.5003C20 12.3651 19.9453 12.2356 19.8483 12.1415L12.8483 5.34667Z')

        .tab_content
          each price,index in campare
            .tabs_item
              .compare__info 
                .compare__info-col 
                  .compare__info-img.radial-block
                    img(src="images/dist/cat"+(index+1)+".webp", alt="") 
                    
                    .compare__info-saving
                      | Экономия <br>
                      |~ #{price.saving}

                .compare__info-col 
                  .compare__info-name=price.name
                  .compare__info-price.radial-block
                    .compare__info-country 
                      div
                        .compare__country-flag
                          img(src="images/dist/kg.svg", alt="")
                        | Цена в Кыргызстане
                      .compare__country-price=price.us 
                    .compare__info-country
                      div
                        .compare__country-flag 
                          img(src="images/dist/us.svg", alt="")
                        | Цена в США
                      .compare__country-price.accent=price.kg 

                    .compare__info-vs vs
